@inherits LayoutComponentBase
@layout AccountLayout
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject HttpClient Http


<section id="account-details">
      <aside>
        <ProfilePicture />
            <ManageNavMenu />
        </aside>
        <div class="content">
            @Body
        </div>
  
</section>
