
@using Microsoft.AspNetCore.Identity
@using BlazorWebApp.Data



<nav>
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="menu-link" href="Account/Manage" Match="NavLinkMatch.All"><i class="fa-regular fa-gear"></i>Account Details</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="menu-link" href="Account/Manage/ChangePassword">Security</NavLink>
    </li>
        <li class="nav-item">
    <NavLink class="menu-link" href="/Account/Notifications"><i class="fa-regular fa-bell"></i> Notifications</NavLink>
    </li>

<li class="nav-item">
        <NavLink class="menu-link" href="/logout"> <i class="fa-solid fa-right-from-bracket"></i>Sign Out</NavLink>
</li>
</ul>
</nav>




