@inherits LayoutComponentBase
@layout AccountLayout
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject HttpClient Http


<section id="account-details">
    <div class="container">
      <aside>

            <ManageNavMenu />
        </aside>
        <div class="content">
            @Body
        </div>
    </div>
</section>
